<h2>Edit Profile</h2> 

<form class="form form-profile-edit" method="POST"> 
    <div class="form-group">
        <label for="username" class="form-label">Username</label> 
        <input name="username" id="username" type="text" class="form-control" value="{{userData.username}}" /> 

        {{#if errors.username}}
        <span class="text-danger small">{{errors.username.message}}</span> 
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="photo" class="form-label">Photo Url</label> 
        <input name="photo" id="photo" type="text" class="form-control" value="{{userData.photo}}" /> 

        {{#if errors.photo}}
        <span class="text-danger small">{{errors.photo.message}}</span> 
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="description" class="form-label">Description</label> 
        <textarea rows="4" name="description" id="description" type="text" class="form-control">{{userData.description}}</textarea> 

        {{#if errors.description}}
        <span class="text-danger small">{{errors.description.message}}</span> 
        {{/if}}
    </div> 

    <div class="buttons mt-4"> 
        <button class="btn btn-outline-success">Edit</button> 
        <a href="/users/profile" class="btn btn-success">Back to Profile</a> 
    </div>
</form> 