<div class="mb-4 representative-ads"> 
    <h3 class="h4 mb-2">Your Ads</h3>    

    <div class="d-flex gap-4">
        {{#each representativeAds}} 
        <div class="ad-entry">
            <h4 class="h5">{{title}}</h4> 
            <p class="">{{description}}</p> 

            <a href="/ads/{{_id}}/details" class="btn btn-outline-success">Details</a> 
        </div> 
        {{/each}}
    </div>
</div> 

<div class="representatives"> 
    <h3 class="h4 mb-2">Team</h3>    

    <div class="d-flex gap-4">
        {{#each representatives.active}} 
        <article class="representative-application"> 
            <p class="mb-0 user">{{user.firstName}} {{user.lastName}}</p> 
            <p>{{user.email}}</p> 

            <form action="/representatives/deactivate" method="POST"> 
                <input type="hidden" name="user-id" value="{{user._id}}"> 
                <button class="btn btn-outline-success">Deactivate</button> 
            </form>
        </article> 
        {{/each}} 
    </div>
</div> 

