<h2>Register</h2> 

<form class="form form-register" method="POST"> 
    <div class="form-group">
        <label for="first-name" class="form-label">First Name</label> 
        <input name="firstName" id="first-name" type="text" class="form-control" value="{{registerData.firstName}}" /> 

        {{#if errors.firstName}}
        <span class="text-danger small">{{errors.firstName.message}}</span> 
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="last-name" class="form-label">Last Name</label> 
        <input name="lastName" id="last-name" type="text" class="form-control" value="{{registerData.lastName}}" /> 

        {{#if errors.lastName}}
        <span class="text-danger small">{{errors.lastName.message}}</span> 
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="email" class="form-label">Email</label> 
        <input name="email" id="email" type="text" class="form-control" value="{{registerData.email}}" /> 

        {{#if errors.email}}
        <span class="text-danger small">{{errors.email.message}}</span> 
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="photo" class="form-label">Photo Url</label> 
        <input name="photo" id="photo" type="text" class="form-control" value="{{registerData.photo}}" /> 

        {{#if errors.photo}}
        <span class="text-danger small">{{errors.photo.message}}</span> 
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="description" class="form-label">Description</label> 
        <textarea name="description" id="description" type="text" class="form-control">{{registerData.desciption}}</textarea> 

        {{#if errors.desciption}}
        <span class="text-danger small">{{errors.description.message}}</span> 
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="password" class="form-label">Password</label> 
        <input name="password" id="password" type="text" class="form-control" /> 

        {{#if errors.password}}
        <span class="text-danger small">{{errors.password.message}}</span> 
        {{/if}}
    </div> 

    <div class="form-group">
        <label for="repeatPassword" class="form-label">Repeat Password</label> 
        <input name="repeatPassword" id="repeatPassword" type="text" class="form-control" /> 
    </div> 

    <button class="btn btn-outline-success mt-4">Register</button> 

</form> 
